@import "style.scss";
body
{
    height: 100vh;
}
.wrap
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content
{
    flex: 1 1 auto;
}
footer
{
    flex: 0 0 auto;
}
.cart__container {
    display: flex;
    align-items: flex-start;
    margin-top: 96px;
    justify-content: space-between;
    margin-bottom: 128px;
    span
    {
        color: $fashion;
    }
}
.cart__products {
    display: flex;
    flex-direction: column;
}
.cart__item {
    display: flex;
    width: 652px;
    height: 306px;
    box-shadow: 17px 19px 24px #EAEAEA;
    margin-bottom: 40px;
    position: relative;
        button
    {
        height: 28px;
        width: 28px;  
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: #fff;
        border: 1px solid white;
    }
    button:hover
    {
        background-color: $fashion;
    }
}
.cart__item_info {
    margin-left: 31px;
    h1
    {
        @include font(400, 29px, 24px);
        margin-top: 22px;
        margin-bottom: 42px;
    }
    p
    {
        margin-bottom: 6px;
        @include font(400, 27px, 22px);
    }

}
.cross
    {
        height: 18px;
        width: 18px;
    }
.quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div
    {
        margin-left: 24px;
        width: 44px;
        height: 25px;
        border: 1px solid #E5E5E5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.cart__options {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    button
    {
        width: 234px;
        height: 49px;
        border: 1px solid #A4A4A4;
        background-color: #fff;
        @include font(300, 17px, 14px);
    }
}
.cart__info {
    width: 360px;
}
.cart__input {
    h2
    {
        margin-bottom: 20px;
    }
    p
    {
        margin-bottom: 20px;
    }
    input
    {
        width: 360px;
        height: 44px;
        padding-left: 17px;
    }
    input:focus
    {
        border: 2px solid #E1E1E1;
    outline: 0;
    outline-offset: 0;
    }
    button
    {
        margin-top: 24px;
        width: 100px;
        height: 34px;
        border: 1px solid #A4A4A4;
        background-color: #fff;
        @include font(300, 13px, 11px);
        color: #4A4A4A;
    }
}
.total {
    margin-top: 60px;
    width: 326px;
    height: 175px;
    background-color:#F5F3F3;
    padding-right: 34px;
    padding-top: 39px;
    text-align: right;
    p
    {
        margin-bottom: 12px;
        @include font(400, 14px, 11px);

    }
    h3
    {
        @include font(300, 19px, 16px);
        span
        {
            @include font(700, 19px, 16px);
        }
        margin-bottom: 21px; 
    }
    hr
    {
        border: 1px solid #E2E2E2;
        width: 273px;
        margin: 0 43px;
    }
    button
    {
        width: 275px;
        height: 50px;
        margin: 17px 43px;
        background-color: $fashion;
        color: #fff;
        border: 1px solid $fashion;
        @include font(300, 19px, 16px);

    }
    button:hover
    {
        background-color: $hover;
        color: $header;
    }
    button:focus
    {
        opacity: 50%;
    }
}
.dvrst
{
    margin-left: 15px;
    color: $header !important;
}


@media(max-width: 1500px) and (min-width: 1100px)
{
    .cart__container
    {
        flex-direction: column;
        align-items: center;
    }
    .cart__products
    {
        margin-bottom: 64px;
        display: flex;

    }
}

@media(max-width: 1099px) and (min-width: 450px)
{
    .cart__products
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }
    .cart__container
    {
        flex-direction: column;
        align-items: center;
    }
    .cart__options
    {
        justify-content: space-between;
        width: 500px;
    }
}

@media(max-width: 449px)
{
    .cart__products
    {
        margin-bottom: 49px;
    }
    .cart__container
    {
        flex-direction: column;
        align-items: center;
    }
    .cart__item
    {
        width: 358px;
        height: 188px;
        h1
    {
        @include font(400, 19px, 16px);
        margin-top: 13px;
        margin-bottom: 26px;
    }
    p
    {
        margin-bottom: 4px;
        @include font(400, 17px, 14px);
    }
    button
    {
        right: 18px;
        top: 18px;
    }
    }
    .cart__products
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart__options button
    {
        width: 175px;
        height: 33px;
        
    }
    .cross
    {
        width: 10px;
        height: 10px;
        right: 10px;
        top: 18px;
    }
}